*,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #EEE7FF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #20262E;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #091353;
}

/* Navbar */

.navbar {
  background-color: #CDA5F3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80px;
}

.name-container {
  display: flex;
  justify-content: space-around;
  width: 80px;
  font-size: 28px;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  width: 720px;
}

.menu-container a:hover{
  color: #E4D6FF;
  transition: 0.20s;
}

.profile-container {
  display: flex;
  font-size: 18px;
}

.sub-menu-wrap {
  position: absolute;
  top: 80px;
  right: 10%;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background-color:#c88eff;
  border-radius: 7px;
  padding: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h2 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #000000;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link img {
  width: 28px;
  border-radius: 50%;
  background: #e5e5e5;
  padding: 4px;
  margin-right: 15px;
}
.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
  font-weight: bold;
}

.sub-menu-link:hover p {
  font-weight: bold;
  color: #E4D6FF;
}

/* Content */

.content-top {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #CDA5F3;
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-container {
  width: 80%;
}

.container {
  display: flex;
  align-items: center;
}

.logo-elearning {
  padding-left: 50px;
}

.elearning-content {
  padding-left: 80px;
}

.elearning-content p {
  padding-right: 30px;
  text-align: justify;
}

.section-materi {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.section-materi img{
  width: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.materi-content {
  border-style: solid;
  box-shadow: 3px 3px 5px rgb(198, 198, 198);
  padding: 18px;
  border-radius: 15px;
  background-color: #e4d6ff;
  width: 200px;
}

.materi-content:hover{
  background-color: #eee7ff;
}

.materi-content h3{
  padding-top: 10px;
  font-size: 16px;
}

.title {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.value-content {
  border-style: solid;
  box-shadow: 3px 3px 5px rgb(198, 198, 198);
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  width: 300px;
}

.value-content img{
  width: 100px;
  border-radius: 15px;
}

.value-content p, h4{
  padding-left: 15px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.check{
  display: flex;
  align-items: center;
}

.check img{
  width: 20px;
  height: 20px;
}

.check p{
  padding-left: 10px;
}

.elearning-content h2 {
  padding-bottom: 10px;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 390px;
}

.button button {
  padding: 10px;
  border-radius: 10px;
  width: 190px;
  background-color: #E4D6FF;
  font-weight: bold;
  font-size: 14px;
}

.button button:hover{
  transition: 0.5s;
  transform: scale(1.1);
}

.ads {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

/*Footer*/

.footer {
  background-color: #CDA5F3;
  display: flex;
  justify-content: center;
  height: 270px;
}

.footer-container {
  width: 80%;
  padding-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 15px;
}

.about {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

.pembayaran-top {
  padding-bottom: 10px;
}

.pembayaran-bot {
  padding-top: 10px;
}

.logo-pembayaran {
  /* border-style: solid; */
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 5px;
}
